
.login-container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-container h2 {
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
}

.login-container label {
  font-weight: 500;
  font-size: 0.875rem;
}

.login-container input {
  width: 100%;
  padding: 10px;
  border: 1.5px solid var(--inputSecondary);
  border-radius: 6px;
  font-size: 0.875rem;
  margin-top: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: var(--primary-200);
}

.login-container p.error {
  color: #dc2626;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: left;
}

/* .create-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--primary);
  color: white;
  border: none;
  font-weight: normal;
  cursor: pointer;
}

.create-btn:hover {
  background-color: var(--primaryButtonHover);
} */
