.assignment-container {
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid var(--background);
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
}

.assignment-container h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.assignment-container input[type="file"] {
  font-size: 12px;
  margin-bottom: 10px;
}

.assignment-container button {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: var(--pinkAccent);
  color: white;
  cursor: pointer;
}

.assignment-container button:hover {
  background-color: var(--darkpinkAccent);
}

.message {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
