.new-home {
  font-family: 'Inter', sans-serif;
  background:var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.home-nav {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
}

.home-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-logo img {
  width: 40px;  
}

.nav-btn {
  padding: 10px 20px;
  background-color:var(--pinkAccent);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: var(--darkpinkAccent);
}

/* HERO SECTION */
.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text {
  max-width: 40%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text span {
  color: var(--primary);
}


.hero-btn {
  background: var(--pinkAccent); 
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.hero-btn:hover {
  background:  var(--darkpinkAccent); 
}


.hero-img img {
  width: 480px;
}

/* FOOTER */
.footer {
  margin-top: auto;
  background: var(--navBar);
  color: white;
  padding: 20px;
  text-align: center;
}
