.new-home {
  font-family: 'Inter', sans-serif;
  background:var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.home-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-logo img {
  width: 40px;
}

.home-logo h2 {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, var(--primary), var(--accentPink));
  /* -webkit-text-fill-color: transparent; */
}

.nav-btn {
  padding: 10px 20px;
  background-color:var(--pinkAccent);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background-color:#c26c88;;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}

.hero-text {
  max-width: 40%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text span {
  color: var(--primary);
}

.hero-text p {
  margin: 15px 0 30px;
  font-size: 1.2rem;
  color: #1f2937;
}


.hero-btn {
  padding: 14px 30px;
  background: var(--pinkAccent); 
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.hero-btn:hover {
  background: #c26c88; 
}


.hero-img img {
  width: 480px;
}

/* FOOTER */
.footer {
  margin-top: auto;
  background: var(--navBar);
  color: white;
  padding: 20px;
  text-align: center;
}
