form {
    background-color: #EFD6AC;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #04151F;

    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 25vw;
}

form div {
    padding: 5px;
}

form input {
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    background-color: aliceblue;
    color: #04151F;
    padding: 5px 10px;
    border-radius: 5px;
}

form button {
    width: 80%;
    font-size: 14px;
    margin: auto;
    background-color: #183A37;
}