.profileScreen {
    padding: 2em;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profileScreen .profileCard {
    padding: 50px 0;
}

.profileCard .imagebox {
    width: 80px;
    height: 80px;
    margin: 20px;

    outline: black 2px solid; 
    outline-offset: 5px; 
    border-radius: 50%;

    background-color: whitesmoke;
    overflow: hidden;
}

.profileCard button {
    color: var(--secondary);
    border: var(--secondary) 1px solid;
    padding: 4px 12px;
    margin-top: 20px;
    font-size: 12px;
    border-radius: 30px;
}

.profileCard button:hover {
    background-color: var(--secondary-light);
}

.imagebox img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.profileCard .name {
    font-weight: 600;
    font-size: 28px;
}

.profileCard .joindate {
    color: grey;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

.cards > div {
    padding: 1em;
    height: 16vh;
}

.cards > div p {
    margin: 2px 0;
}

.cards > div p.ofuser {
    font-size: 24px;
    font-weight: 500;
}

.formBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: #00000036;
}

form {
    padding: 30px;
    background-color: white;
    width: 30vw;
}

form img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

form img:hover {
    cursor: pointer;
}

form input {
    border: 1.5px solid var(--secondary);
    padding: 5px 10px;
}

form input:focus {
    outline: 2px solid #bea7f4;
    outline-offset: 1px;
    outline-width: 2px;
}

.buttonbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.buttonbox button {
    border: 1.5px solid transparent;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.buttonbox button#confirm {
    background-color: var(--primary);
    color: var(--background);
}

.buttonbox button#confirm:hover {
    background-color: var(--primaryButtonHover);
}

.buttonbox button#cancel {
    border-color: var(--primary);
    color: var(--primary);
}

.buttonbox button#cancel:hover {
    background-color: var(--lightButtonHover);
}