@import "tailwindcss";

/* :root {
  --primary: #3b82f6;
  --secondary: #8b5cf6;
  --background: #f3efec;
  --text: #1f2937;

  --secondaryLight: #f0edf6;
  --primaryButtonHover: #3474da;
  --lightButtonHover: #f2f5fe;
  --inputSecondary: #dcdae1;
  --textLighter: #becbda;
} */

:root {
  --primary: #3c6e71ff;
  --secondary: #ea3788;
  --background: #efefef;
  --text: #1f2937;
  --navBar: #284b63ff;

  --secondary-200: #fff6efab;
  --secondaryLight: #ffcae2;
  --primary-200: #30595b;
  --primary-2: #30595b10;
  --navBar-dark: #1c3546;
  --primaryButtonHover: #3474da;
  --lightButtonHover: #f2f5fe;
  --inputSecondary: #e4e4e4;
  --textLighter: #becbda;

  --pinkAccent: #ea3788;
  --darkpinkAccent: #c92f74;
}

/* --stormy-teal: #3c6e71ff;
--white: #ffffffff;
--alabaster-grey: #d9d9d9ff;
--smoky-rose: #a26769ff;
--yale-blue: #284b63ff; */

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Consistent box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

.screen {
  padding: 2em;
  width: 75vw;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

nav {
  background-color: var(--navBar);
  color: var(--textLighter);
}

nav .link:hover {
  background-color: var(--navBar-dark);
}