@import "tailwindcss";

:root {
  /* Your color palette */
  --primary: #3b82f6;
  --secondary: #8b5cf6;
  --background: #f9fafb;
  --text: #1f2937;

  --secondary-light: #f0edf6;
  --primaryButtonHover: #3474da;
  --lightButtonHover: #f2f5fe;
  --inpuOutline: #dcdae1;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Consistent box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

.screen {
  padding: 2em;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}