.dashboard-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  padding: 20px 30px;
  overflow-y: auto;
  background: var(--background);
}

/* TITLE */
.section-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 40px 0 20px 0;
  color: var(--primary);
}


.profile-preview-container {
  margin-bottom: 25px;
  display: flex;
}

.profile-preview-box {
  width: 400px;
  padding: 35px;
  background: white;
  border-radius: 15px;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 0 black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-preview-box .imagebox img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-preview-box .name {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.profile-preview-box .joindate {
  font-size: 1rem;
  color: #6b7280;
}


.enrollment-preview-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.enrollment-preview-card {
  width: 250px;
  padding: 15px;
  background: white;

  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;

  transition: 0.2s;
}

.enrollment-preview-card:hover {
  transform: translateY(-4px);
  box-shadow: 5px 5px 0 0 black;
}

.ep-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.ep-desc {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 5px;
}

.ep-inst {
  font-size: 0.9rem;
  font-weight: 600;
}

/* SEE ALL BUTTON */
.see-all-btn {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  text-decoration: none;
}

.see-all-btn:hover {
  text-decoration: underline;
}


.progress-section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.progress-card {
  width: 300px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 0 black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  transition: 0.2s;
}

.progress-card:hover {
  transform: translateY(-4px);
  box-shadow: 4px 4px 0 0 black;
}

.progress-card .ofuser {
  font-size: 1.3rem;
  font-weight: 600;
}