.topnav {
  
  padding: 0;
  background-color: white;
  box-shadow: 0 2px 6px #0000001a;
  position: sticky;
  
  top: 0;
  z-index: 50;

  border: 1px solid black;  
  border-radius: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  border: 1px solid black;
}

.logo-icon {
  font-size: 2rem;
  color: var(--secondary); 
}

/* .user-section {
  display: flex;
  align-items: center;
  gap: 12px;

  border: 1px solid black;
} */

.logout-btn {
  padding: 6px 12px;
  background-color: #ef4444;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #dc2626;
}
