.search_bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.search_input,
.filter_select,
.price_input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;

}