
.enrollment {
  padding: 20px;
}

.enrollment h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 25px;
}

.enrolled_courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  padding: 10px 0;
}

.enrolled_card {
  width: 250px;
  padding: 15px;

  background-color: white;

  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;

  display: flex;
  flex-direction: column;
  gap: 8px;

  transition: 0.2s;
}

.enrolled_card:hover {
  transform: translateY(-4px);
  box-shadow: 5px 5px 0 0 black;
}

.enrolled_card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.enrolled_card p {
  font-size: 0.9rem;
  color: #555;
  margin: 3px 0;
}
