
.signup-container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-container h2 {
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
}

.signup-container label {
  font-weight: 500;
  font-size: 0.875rem;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  border: 1.5px solid var(--inputOutline);
  border-radius: 6px;
  font-size: 0.875rem;
  margin-top: 5px;
}

.signup-container button.create-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.signup-container button.create-btn:hover {
  background-color: var(--primaryButtonHover);
}

.signup-container p.error {
  color: #dc2626; /* red */
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: left;
}

.signup-container p.success {
  color: #16a34a; /* green */
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: left;
}
