table {
    margin: 10px 0;
    border-collapse: separate;
    border-spacing: 0 5px;
}

table td:first-child {
    border-radius: 10px 0 0 10px;
}

table td:last-child {
    border-radius: 0 10px 10px 0;
}

table.HistoryTable tbody tr:hover {
    background-color: var(--color-gray-200);
}

table th {
    color: var(--color-gray-500);
    font-weight: 600;
    padding: 4px 10px;
}

table td {
    font-weight: var(--font-weight-normal);
    padding: 4px 12px;
}

button {
    border: 1.5px solid black;
    padding: 2px 10px;
    border-radius: 6px;
}

button:hover {
    background-color: var(--color-gray-200);
    cursor: pointer;
}

button.addinfobtn {
    border: none;
    border-bottom: 1.5px solid transparent;
    padding: 2px 10px;
    border-radius: 0px;
}

button.addinfobtn:hover {
    border-color: black;
    cursor: pointer;
    background-color: transparent;
}

.memberbox {
    box-shadow: 2px 2px 0 0 black;
}